buildnum.h

!Internal/ArcGISMapsSDK/API
Internal/ArcGISMapsSDK/API/*
!Internal/ArcGISMapsSDK/API/GameEngine
Internal/ArcGISMapsSDK/API/GameEngine/*
!Internal/ArcGISMapsSDK/API/GameEngine/RenderCommandQueue
Internal/ArcGISMapsSDK/API/GameEngine/RenderCommandQueue/*
!Internal/ArcGISMapsSDK/API/GameEngine/View
Internal/ArcGISMapsSDK/API/GameEngine/View/*
!Internal/ArcGISMapsSDK/API/Standard
Internal/ArcGISMapsSDK/API/Standard/*
!Internal/ArcGISMapsSDK/API/Unreal
!Internal/ArcGISMapsSDK/CAPI
Internal/ArcGISMapsSDK/CAPI/*
!Internal/ArcGISMapsSDK/CAPI/Standard
Internal/ArcGISMapsSDK/CAPI/Standard/*
!Internal/ArcGISMapsSDK/CAPI/Unreal

!Private/API
Private/API/*
!Private/API/GameEngine
Private/API/GameEngine/*
!Private/API/GameEngine/Location
Private/API/GameEngine/Location/*
!Private/API/GameEngine/RenderCommandQueue
Private/API/GameEngine/RenderCommandQueue/*
!Private/API/GameEngine/View
Private/API/GameEngine/View/*
!Private/API/Standard
Private/API/Standard/*
!Private/API/Unreal
!Private/CAPI
Private/CAPI/*
!Private/CAPI/Standard
Private/CAPI/Standard/*

!Public/ArcGISMapsSDK/API/GameEngine
Public/ArcGISMapsSDK/API/GameEngine/*
!Public/ArcGISMapsSDK/API/GameEngine/Location
Public/ArcGISMapsSDK/API/GameEngine/Location/*
!Public/ArcGISMapsSDK/API/GameEngine/View
Public/ArcGISMapsSDK/API/GameEngine/View/*
Public/ArcGISMapsSDK/API/Standard

Private/API/Unreal/ArcGISCollection.cpp
Public/ArcGISMapsSDK/API/Unreal/ArcGISCollection.h

!Internal/ArcGISMapsSDK/API/GameEngine/RenderCommandQueue/ArcGISDecodedRenderCommandQueue.h
!Internal/ArcGISMapsSDK/API/GameEngine/RenderCommandQueue/ArcGISRenderCommand.h
!Internal/ArcGISMapsSDK/API/Standard/ArcGISElement.h
!Internal/ArcGISMapsSDK/API/Standard/ArcGISElementTraits.h
!Internal/ArcGISMapsSDK/CAPI/Platform.h
!Internal/ArcGISMapsSDK/CAPI/Standard/ArcGISElement.h
!Internal/ArcGISMapsSDK/CAPI/Standard/ArcGISElementHandle.h
!Private/API/GameEngine/Location/ArcGISRotation.cpp
!Private/API/GameEngine/RenderCommandQueue/ArcGISDecodedRenderCommandQueue.cpp
!Private/API/Standard/ArcGISElement.cpp
!Private/CAPI/Platform.cpp
!Private/CAPI/Standard/ArcGISElement.cpp
!Public/ArcGISMapsSDK/API/GameEngine/Location/ArcGISRotation.h

!Private/BlueprintNodes
Private/BlueprintNodes/*
!Private/BlueprintNodes/GameEngine
Private/BlueprintNodes/GameEngine/*
!Private/BlueprintNodes/GameEngine/Location
Private/BlueprintNodes/GameEngine/Location/*
!Private/BlueprintNodes/GameEngine/Security
Private/BlueprintNodes/GameEngine/Security/*

!Public/ArcGISMapsSDK/BlueprintNodes
Public/ArcGISMapsSDK/BlueprintNodes/*
!Public/ArcGISMapsSDK/BlueprintNodes/GameEngine
Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/*
!Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/Location
Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/Location/*
!Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/Security
Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/Security/*
!Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/View
Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/View/*

!Private/BlueprintNodes/GameEngine/Location/ArcGISRotation.cpp
!Private/BlueprintNodes/GameEngine/Security/ArcGISAuthenticationChallenge.cpp
!Private/BlueprintNodes/GameEngine/Security/ArcGISOAuthAuthenticationChallenge.cpp
!Private/BlueprintNodes/GameEngine/View
Private/BlueprintNodes/GameEngine/View/*

!Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/Location/ArcGISRotation.h
!Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/Security/ArcGISAuthenticationChallenge.h
!Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/Security/ArcGISAuthenticationChallengeType.h
!Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/Security/ArcGISOAuthAuthenticationChallenge.h
